<div class="container">
  <div class="head">
    <h1>Login Form</h1>
    <h3>enter login and password for access</h3>
  </div>
  <form>
    <div class="line">
      <p>Login</p>
      <p>Password</p>
    </div>
    <div class="line">
      <input type="text" placeholder="Your login" name="login" [(ngModel)]="loginInp"/>
      <input type="text" placeholder="Your password" name="password" [(ngModel)]="passwordInp"/>
      <button type="submit" type="button" (click)="authorize(loginInp, passwordInp)"  >Login</button>
    </div>
  </form>
</div>
