<div class="frm">
  <div class="header">
    <p>Sensor table</p>
    <a href="/login">Logout</a>
  </div>
  <div class="content">
    <app-search></app-search>
    <form #MyForm="ngForm">
      <app-table></app-table>
      <app-product
        *ngFor="let product of products; index as i"
        [product]="product" 
      >
    </app-product>
    </form>
  </div>
  <div class="buttom">
    <div class="section">
      <button>Add Sensor</button>
    </div>
    <div class="section">
      <app-pagination></app-pagination>
      <p>Total: {{products.length}}</p>
    </div>
  </div>
</div>
