
.frm{

    display: flex;
    flex-direction: column;
    height: 700px;
    width: 900px;
    justify-content: left;
    background-color: rgba(151, 151, 151, 0.831);
}
.tapTo{
    border: 1px solid;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
}
p{
    font-size: large;
}
a{
    margin-top: 20px;
    margin-right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
}
.searchPart{
    display: flex;
}
.search{
    width: 300px;
    height: 20px;
}
.search, .buttom{
    margin-left: 125px;
    margin-bottom: 10px;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttom{
    display: flex;
    justify-content: center;
    width: 100%;
}
.section{
    display: flex;
    width: 50%;
}
tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit{
    width: 25px;
    height: 25px;
    background-color: rgb(208, 206, 206);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
.delete{
    width: 25px;
    height: 25px;
    background-color: rgb(208, 206, 206);
    border: 1px solid rgb(85, 85, 85);
    text-align: center;
    margin-left: 10px;
}
.addSensor{
    border: 1px solid;
    padding: 2px 5px;
    border-radius: 5px;
}