<div class="frm">
  <div class="header">
    <p>Sensor table</p>
    <a href="/">Logout</a>
  </div>
  <div class="content">
    <!-- <app-search></app-search> -->
    <div class="searchPart">
      <input
        class="search"
        type="text"
        placeholder="Filter products..."
        [(ngModel)]="searchValue"
      />
      <button class="tapTo" type="button" (click)="changeTerm(searchValue)">
        Search
      </button>
    </div>
    <form #MyForm="ngForm">
      <app-table></app-table>
      <tr
        *ngFor="
          let product of products
            | filterPipe : term
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <app-product [product]="product"></app-product>
      </tr>
    </form>
  </div>
  <div class="buttom">
    <div class="section">
      <button class="addSensor">Add Sensor</button>
    </div>
    <div class="section">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="products.length"
      ></ngb-pagination>
      <p>Total: {{ products.length }}</p>
    </div>
  </div>
</div>
