
.frm{

    display: flex;
    flex-direction: column;
    height: 700px;
    width: 900px;
    justify-content: left;
    /* align-items: center; */
    background-color: rgba(151, 151, 151, 0.831);
}
.header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
p{
    font-size: large;
}
a{
    margin-top: 20px;
    margin-right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
}
app-search, .buttom{
    margin-left: 125px;
    margin-bottom: 10px;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttom{
    display: flex;
    justify-content: center;
    width: 100%;
}
.section{
    display: flex;
    width: 50%;
}
tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}