div{
    display: flex;
}
button{
    width: 15px;
    height: 30px;
    text-align: center;
    background-color: rgb(185, 185, 185);
    margin-right: 5px;
    border: 2px solid black;
}
p{
    font-size: 20px;
    margin-left: 5px;
}