<div class="container">
  <h1>Add/edit</h1>
  <form>
    <div class="column">
      <div class="block">
        <h3>Name</h3>
      </div>
      <div class="block">
        <h3>Model*</h3>
      </div>
      <div class="block line">
        <h3>Range</h3>
        <h4>From</h4>
      </div>
      <div class="block">
        <h3>Type</h3>
      </div>
      <div class="block">
        <h3>Unit</h3>
      </div>
      <div class="block">
        <h3>Location</h3>
      </div>
      <div class="block">
        <h3>Description</h3>
      </div>
    </div>
    <form class="column" [formGroup]="form">
      <div class="block line">
        <input
          *ngIf="!editing"
          name="Name"
          placeholder="Name"
          formControlName="nameInp"
          value=""
        />
        <input
          *ngIf="editing"
          name="Name"
          placeholder="{{ editing.name }}"
          formControlName="nameInp"
          value=""
        />
        <p class="errMess" *ngIf="nameInp.errors?.maxlength && nameInp.touched">
          Too long
        </p>
      </div>
      <div class="block line">
        <input
          *ngIf="!editing"
          name="Model"
          placeholder="Model"
          formControlName="modelInp"
        />
        <input
          *ngIf="editing"
          name="Model"
          placeholder="{{ editing.model }}"
          formControlName="modelInp"
        />
        <p
          class="errMess"
          *ngIf="modelInp.errors?.maxlength && modelInp.touched"
        >
          Too long
        </p>
      </div>
      <div class="block line">
        <input
          type="number"
          name="numberMin"
          class="small min"
          value="12"
          formControlName="numberMin"
        />
        <h4>To</h4>
        <input
          type="number"
          name="numberMax"
          class="small"
          value="45"
          formControlName="numberMax"
        />
        <p
        class="errMess"
        *ngIf="checkValues() && numberMin.touched && numberMax.touched"
      >
        Change numbers
      </p>
      </div>
      <div class="block">
        <select name="typeSelect" id="" formControlName="typeSelect">
          <option value disabled selected>Select</option>
          <option>Pressure</option>
          <option>Voltage</option>
          <option>Temperature</option>
          <option>Humidity</option>
        </select>
      </div>
      <div class="block">
        <select name="unitSelect" id="" formControlName="unitSelect">
          <option value disabled selected>Select</option>
          <option>bar</option>
          <option>voltage</option>
          <option>*C</option>
          <option>%</option>
        </select>
      </div>
      <div class="block line">
        <input
          name="locationInp"
          placeholder="location"
          formControlName="locationInp"
        />
        <p
          class="errMess"
          *ngIf="locationInp.errors?.maxlength && locationInp.touched"
        >
          Too long
        </p>
      </div>
      <div class="block">
        <input
          class="area"
          placeholder="Here is a some text input. \n here is another paragraph of input"
        />
      </div>
    </form>
  </form>
  <div class="buttons">
    <button
      type="submit"
      (click)="
        saveEl(
          {id: 13,
          name:nameInp.value,
          model: modelInp.value,
          type: typeSelect.value,
          range: numberMin.value + '-' + numberMax.value,
          unit: unitSelect.value,
          location: locationInp.value}
        )
      "
      (click)="goHome()"
    >
      Save
    </button>
    <button type="submit" (click)="goHome()">Cancel</button>
  </div>
</div>
