<div class="container">
  <h1>Add/edit</h1>
  <form>
    <div class="column">
      <div class="block">
        <h3>Name</h3>
      </div>
      <div class="block">
        <h3>Model*</h3>
      </div>
      <div class="block line">
        <h3>Range</h3>
        <h4>From</h4>
      </div>
      <div class="block">
        <h3>Type</h3>
      </div>
      <div class="block">
        <h3>Unit</h3>
      </div>
      <div class="block">
        <h3>Location</h3>
      </div>
      <div class="block">
        <h3>Description</h3>
      </div>
    </div>
    <div class="column">
      <div class="block">
        <input name="Name" placeholder="Name" [(ngModel)]="nameInp"/>
      </div>
      <div class="block">
        <input name="Model" placeholder="Model" [(ngModel)]="modelInp"/>
      </div>
      <div class="block line">
        <input type="number" name="numberMin" class="small" value="12" [(ngModel)]="numberMin"/>
        <h4>To</h4>
        <input type="number" name="numberMax" class="small" value="45" [(ngModel)]="numberMax"/>
      </div>
      <div class="block">
        <select name="typeSelect" id="" [(ngModel)]="typeSelect">
          <option value disabled selected>Select</option>
          <option>Pressure</option>
          <option>Voltage</option>
          <option>Temperature</option>
          <option>Humidity</option>
        </select>
      </div>
      <div class="block">
        <select name="unitSelect" id="" [(ngModel)]="unitSelect">
          <option value disabled selected>Select</option>
          <option>bar</option>
          <option>voltage</option>
          <option>*C</option>
          <option>%</option>
        </select>
      </div>
      <div class="block">
        <input name="locationInp" placeholder="location" [(ngModel)]="locationInp"/>
      </div>
      <div class="block">
        <input
          class="area"
          placeholder="Here is a some text input. \n here is another paragraph of input"
        />
      </div>
    </div>
  </form>
  <div class="buttons">
    <button type="submit" (click)="saveEl(nameInp, modelInp, typeSelect, numberMin, numberMax, unitSelect, locationInp)" (click)="goHome('post')">Save</button>
    <button type="submit" (click)="goHome()">Cancel</button>
  </div>
</div>
